/* $black=#080F0F
$blue=#2978A0
$light-blue=#4281A4 */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  z-index: 120;
}

.App > nav{
  text-align: center;
  background: #4281A4;
  height: 3vh;
}

.App > main {
  position: relative;
  z-index: 10;
}
.container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: 97vh;
}

.list {
  max-height: 97vh;
  overflow: scroll;
  padding: 30px;
  /* border-style: solid; */
}

.playlist__title{
  border: 1px solid #000;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}
.playlist__title:hover{
  border: 1px solid #212121;
  box-shadow: -3px 3px 6px 0px #212121;
  transform: translateX(3px)
}
.votes__list{
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-between;
}

.votes__list .votes__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes__upvote.active svg path{
  fill: red;
}

.votes__downvote.active svg path {
  fill: blue;
}

.visualize{
  background-image: url('http://placekitten.com/1000/1000');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.15;
}

.user_actions_navigation{
  background: #2978A0;
}

.user_actions_navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: #4281A4;
  list-style: none;
}

.user_actions_navigation ul li{
  width: calc(100% / 3);
  
}
.user_actions_navigation ul li button{
  padding: 5px;
  margin: 0;
  border: 1px solid #212121;
  border-radius: 3px; 
}