$black-side: #181B1F;
$color-side: #969799;
$black-main: #1A1B21;
$blue: #2978A0;
$light-blue: #988AA5;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  z-index: 120;
  background-image: url('./background.gif');
  background-size: cover;
  & > nav{
    text-align: center;
    background: $light-blue;
    height: 3vh;
  }
  & > main {
    position: relative;
    z-index: 10;
  }
}

.container {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 30% 70%;
  max-height: 97vh;
  .list {
    color: $color-side;
    height: 97vh;
    overflow: scroll;
    padding: 0 0.75rem 1.5rem 0.75rem;
    background: $black-side;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #3A3A40;
    .playlist__title{
      display: flex;
      flex-direction: row;
      border: 1px solid #000;
      border-radius: 0.3rem;
      padding: 0.6rem 0;
      margin: 0.25rem 0;
      cursor: pointer;
      transform: scale(1);
      transition: all 350ms ease;
      &:hover{
        // border: 1px solid #212121;
        // box-shadow: -3px 3px 6px 0px #212121;
        background: $color-side;
        color: $black-side;
      }
    }
    a{
      text-decoration: none;
      &:visited{
        color: $color-side;
      }
      .playlist__new {
        padding: 0.75rem; 
        h2{
          text-align: center;
          font-size: 1.15rem;
          line-height: 1.5;
        }
      }
    }
  }
}

.spec {
  background: $black-main;
  color: $color-side;
}
.playlist__info{
  padding: 0 0.5rem;
  h2{
    font-size: 1.15rem;
    line-height: 1.5;
  }
  p{
    font-size: 0.75rem;
    line-height: 1;
    margin: 0.25rem 0;
  }
}

.votes__list{
  order: -1;
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  justify-content: space-between;
  .votes__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .votes__upvote.active svg path{
    fill: red;
  }
  .votes__downvote.active svg path {
    fill: blue;
  }
}


.visualize{
  // background-image: url('./background.gif');
  // background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.playlist_song__container{
  width: 70%;
  padding: 2rem 0;
  margin: 0 auto;
  h2{
    font-size: 2rem;
    line-height: 2;
  }
  p{
    margin: 0 0 1rem 0;
  }
  ul{
    list-style: none;
    div li{
      padding: 1rem;
      border: 1px solid #3A3A40;
      cursor: pointer;
      transition: all 300ms ease;
      &:hover{
        box-shadow: 0px 0px 5px 0px white;
        transform: scale(1.01);
      }
    }
  }
  .user_actions_navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    button{
      padding: 0.75rem;
      border: 1px solid #212121;
      border-radius: 0.5rem;
      cursor: pointer;
      background: $light-blue; 
    }
  }
  canvas{
    max-width: 100%;
  }
}
.newplaylist__container{
  width: 70%;
  min-height: 97vh;;
  margin: 0 auto;
  a{
    display: block;
    width: 200px;
    font-size: 1.3rem;
    line-height: 2;
    padding: 0.5rem 0;
    line-height: 2;
    &:link{
      color: white;
      text-decoration: none;
    }
    &:visited{
      color: white;
      text-decoration: none;
    }
  }
  .newplaylist__form{
    display: flex;
    flex-direction: column;
    label[for="playlistName"]{
      font-size: 1.5rem;
      line-height: 1.5;
      color: $light-blue;
    }
    input[name="playlistName"]{
      width: 100%;
      padding: 0.5rem;
      font-size: 1.15rem;
      line-height: 1.5;
      border: 1px solid $black-main;
      border-radius: 0.5rem;
    }
    ul{
      margin: 1rem 0;
      border: 1px solid $black-main;
      height: 60vh;
      overflow-y: scroll;
      background: transparentize($light-blue, 0.5);
      div label{
        display: flex;
        flex-direction: row;
        font-size: 1.15rem;
        line-height: 1.5;
        margin: 0.5rem 0;
        input{
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  input[type="submit"]{
    padding: 0.75rem;
    font-size: 1.15rem;
    width: 40%;
    margin: 0 auto;
    border: 1px solid $black-main;
    border-radius: 0.5rem;
    background: $light-blue;
  }
  }
}